
@{
    List<AdPlayLocalboxTotalList> list = ViewBag.list;
    string totCnt = (list.Count() == 0 ? "0" : list.First().TOTAL_ROWCOUNT.ToString());
    <input type="hidden" id="total" value="@totCnt" />

    foreach (AdPlayLocalboxTotalList data in list)
    {
<tr>
    <td class="center">@data.ROW_IDX</td>
    <td class="center">@data.REG_DAY.ToFormatDate("yyyy.MM.dd")</td>

    <td style="cursor:pointer" onclick="location.href='/basic/devicereg/@data.DEVICE_CODE'"><a>@data.DEVICE_NAME</a></td>
    <td class="center">@data.BANNER_KIND_NAME</td>
    <td class="right">@data.IMAGE1_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@data.IMAGE6_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@data.IMAGE12_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@data.CLICK_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@data.VIDEO_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@data.YOUTUBE_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="right">@Html.Semantic_Button("btnQty", data.TOT_QTY.ToString("#,##0.##"), SemanticUIHelper.enButtonType.Normal, new { @onclick = "adPlayDetail( this," + data.REG_DAY + "," + data.DEVICE_CODE.ToString() + " )", @class = "size100 right" })</td>
    <td class="right">@data.TOT_PLAY_TIME.ToString("#,##0.##")</td>
    <td class="center" style="cursor:pointer" onclick="location.href='/comp/storereg/@data.STORE_CODE'"><a>@data.STORE_NAME</a></td>
</tr>
    }

}