
@{
    List<T_AD_PLAY_LOG> list = ViewBag.list;
    string totCnt = (list.Count() == 0 ? "0" : list.First().TOTAL_ROWCOUNT.ToString());
    <input type="hidden" id="total" value="@totCnt" />

    foreach (T_AD_PLAY_LOG data in list)
    {
    <tr>
        <td class="center">@data.ROW_IDX</td>
        <td class="hide">@data.IDX</td>
        <td class="center">@data.DEVICE_KIND_NAME</td>
        <td class="center">@data.REG_DATE</td>


        <td style="cursor:pointer" onclick="location.href='/advertise/adreg/@data.AD_CODE'"><a>@data.TITLE</a></td>

        @{
            if (data.DEVICE_CODE == null)
            {
                <td>&nbsp;</td>
            }
            else
            {
                <td style="cursor:pointer" class="center" onclick="location.href='/basic/devicereg/@data.DEVICE_CODE'"><a>@data.DEVICE_NAME</a></td>
            }
        }
        <td class="center">@data.BANNER_TYPE2_NAME</td>
        <td class="right">@data.PLAY_TIME.ToString("#,##0.##")</td>
        <td >@data.REMARK</td>
        <td  class="center">@data.INSERT_NAME</td>
    </tr>
    }

}