@using ALT.VO.loggal
@using ALT.Framework;
@{
    Layout = null;
    T_AD data = (ViewBag.data == null) ? new T_AD() { AD_CODE = 0, TITLE = "", CONTENT = "" } : ViewBag.data;

    data.CONTENT = (data.CONTENT == null) ? "" : data.CONTENT.Replace("../../Files/", "/Files/").Replace("../Files/", "/Files/").Replace("img src=\"/Files/", "img src=\"" + Global.ConfigInfo.HOSTING_SITE + "/Files/");

    string viewMode = Request["view"] == null ? "" : Request["view"].ToString();

    viewMode = viewMode.Replace(";", "");
    string waitingTime = string.IsNullOrEmpty(Request["time"])? "60" : Request["time"].ToString();
    Response.Buffer = true;
    long? deviceCode = ViewBag.deviceCode;

}

<link href="//www.tinymce.com/css/codepen.min.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/nanumpenscript.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/jejugothic.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/hanna.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/kopubbatang.css" rel='stylesheet' type='text/css'>
<link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel='stylesheet' type='text/css'>

<style>
    @{

        if (data.CONTENT != null)
        {
            <text>
            img{
                width:100%; height:auto; object-fit:contain;
            }

            .social img {
                width:auto; height:auto; object-fit:none;
            }
            </text>
        }
        }


</style>
<style>
    html, body {
        -ms-content-zooming: none;
        padding: 5px !important;
    }
    .backbutton {
        top: 5px;
        left: 20px; /*위에 올라가는 레이어의 포지션은 top, bottom 둘 중 하나, left, right 둘 중 하나의 속성을 선택하여 잡아준다.*/
        background-color: white;
        cursor: pointer;
        font-size: 2em !important;
        position: fixed;
        margin-right: 0em;
        padding-top:0.17em;
        opacity:0.65!important;
    }
</style>

<link href="~/Common/plugin/css/messagebox.css" rel='stylesheet' type='text/css'>
<link href="~/Common/plugin/css/semantic.min.css" rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<!--Message Box-->
<script src="~/Common/plugin/js/messagebox.min.js"></script>
<!--공통코드-->
<script src="~/Common/js/Common.js?ver=20161207_1"></script>
<script>
    $("document").ready(function () {
        // BaseCommon.LoadingBar.Show();
    });
</script>
@{ 
    if (viewMode == "back")
    {
    <i  class="backbutton arrow alternate circle left outline icon"></i>
        }
    }
<div id="dvBody">@Html.Raw(data.CONTENT)</div>
@Html.Hidden("AD_CODE", data.AD_CODE)
@{Html.RenderPartial("~/Views/Shared/Partial/Loader.cshtml"); }

<script type="text/javascript">
    var timer;

    $(window).on({
        mousedown: function (event) {
            drag_x1 = event.offsetX;
        },
        mouseup: function (event) {
            if (event.offsetX - drag_x1 > 100) {
                timerInit();
            }
            if (event.offsetX - drag_x1 < -100) {
                timerInit();
            }
        }
    });
    function timerInit() {
        if (timer != null) {
            clearTimeout(timer);
        }
        timer = setTimeout(function () { window.history.back(); }, @(waitingTime) * 1000);
    }

   
    $("document").ready(function () {
        AdContentClickSave();
        timerInit();
        $(document).click(function () {
            timerInit();
        })


        $(".backbutton").click(function () {
            window.history.back();
        })
        try {
            if ("@viewMode" == "1") {
                $(".social").hide();
                $(".dvPhone").hide();
            }
            else if ("@viewMode" == "2") { /*SNS Hide*/
                $(".social").hide();
            }
            else if ("@viewMode" == "3") { /*Phone Hide*/
                $(".dvPhone").hide();
            }
            document.title = "@data.TITLE.Replace("\n","").Replace("\r", "")";
        } catch (e) { }
        $("body").addClass("mce-content-body");
        /*$("#dvBody").mouseover(function () {
            try {
                window.external.notify(JSON.stringify({ method: "UsingWebView" }));
            } catch (e) { }
        });
        $("#dvBody").mouseout(function () {
            try {
                window.external.notify(JSON.stringify({ method: "UsingWebView" }));
            } catch (e) { }

        });*/
    })

    $(window).load(function () {
//        BaseCommon.LoadingBar.Hide();
    });

    function AdContentClickSave() {
        var params = new Object();
            params.DEVICE_CODE =@(deviceCode== null ? null : deviceCode);
            params.AD_CODE = @(data.AD_CODE== null ? 0 : data.AD_CODE);
            params = JSON.stringify(params);
            ajax.GetAjax("/Advertise/AdContentClickSave/", params, "json", function (result) {
                if (result.ERROR_MESSAGE != "") {
               //     $.MessageBox(result.ERROR_MESSAGE);
                }
            },null, false);
    }

</script>