@{
    List<EMPLOYEE_P_DATA> list = ViewBag.list;
    int nhideType;
    if (SessionHelper.LoginInfo.STORE_CODE == 1)
    {
        nhideType = 1;
    }
    else if (SessionHelper.LoginInfo.STORE.STORE_TYPE == 1 || SessionHelper.LoginInfo.STORE.STORE_TYPE == 4)
    {
        nhideType = 2;
    }
    else
    {
        nhideType = 3;
    }

    string totCnt = (list.Count() == 0 ? "0" : list.First().TOTAL_ROWCOUNT.ToString());
    <input type="hidden" id="employeep_total" value="@totCnt" />
    foreach (EMPLOYEE_P_DATA data in list)
    {
        <tr>

            <td>@data.USER_ID</td>
            <td>@data.USER_NAME</td>
            <td>@data.MOBILE</td>
            <td class="hide">@data.COMPANY_CODE</td>
            <td class="@(nhideType > 1 ? "hide" : "")">@data.COMPANY_NAME</td>
            <td class="hide">@data.STORE_CODE</td>
            <td class="@(nhideType == 3 ? "hide" : "")">@data.STORE_NAME</td>
            <td class="hide">@data.MEMBER_CODE</td>
           
        </tr>
    }
}
