@{
	List<DEVICE_LIST> list = (ViewBag.list == null) ? new List<DEVICE_LIST>() : ViewBag.list;
		string totCnt = (list.Count() == 0 ? "0" : list.First().TOTAL_ROWCOUNT.ToString());
		<input type="hidden" id="total" value="@totCnt" />
		foreach (DEVICE_LIST data in list)
		{
<tr>
	@if (true == data.IS_MOBILE)
	{
		<td class="left"><a href="/basic/deviceVirtualReg/@(data.DEVICE_CODE)">@data.DEVICE_NAME</a></td>
	}
	else
	{
		<td class="left"><a href="/basic/devicereg3/@(data.DEVICE_CODE)">@data.DEVICE_NAME</a></td>
	}
	<td class="left">@data.JIBUN_ADDRESS</td>
	<td class="center">@data.LATITUDE</td>
	<td class="center">@data.LONGITUDE</td>
	<td class="center">@data.STATUS</td>
	<td class="hide">@data.DEVICE_CODE</td>
	<td class="hide">@data.PARENT_DEVICE_CODE</td>
</tr>
		}
}