
@{
    List<T_SIGNAGE_PLACE> list = ViewBag.list;

    foreach (T_SIGNAGE_PLACE data in list)
    {
<tr>
    <td>
        @data.JIBUN_ADDRESS
    </td>
    <td class="center">@data.LATITUDE</td>
    <td class="center">@data.LONGITUDE</td>
    <td class="center">@(data.RADIUS / 1000.0) km</td>
    <td style="min-width:15em;">@data.ROAD_ADDRESS</td>
    <td class="center">@data.ZIP_CODE</td>
    <td>@data.REGION</td>
    <td>@data.INSERT_NAME</td>
    <td>@data.INSERT_DATE</td>
    <td class="hide">@data.SIGN_CODE</td>
    <td class="hide">@data.CK_CODE</td>
    <td class="hide">@data.IDX</td>
</tr>
    }

    @Html.Hidden("markerlist", Json.Encode(list.Select(s => new DAUM_MAPLIST { TITLE = "", CONTENT = "", LINK_URL = "", LATITUDE = s.LATITUDE, LONGITUDE = s.LONGITUDE, RADIUS = s.RADIUS }).ToList()))
}
