
@{
    ViewBag.Title = "checkPwConfirmP";
}

<div class="ui modal tiny passwordConfirmP">
    <div class="header">패스워드확인</div>
    <div class="content">
        <table class="ui table ">
            <tbody>
                <tr>
                    <td class="title">
                        @Html.Semantic_TITLE2("아이디")
                    </td>
                    <td class="content">
                        @Html.Semantic_TextBox("CKECK_USER_ID", "", SemanticUIHelper.Size.mini, new { @class = "size150", @placeholder = "아이디", @readonly = "readonly" })
                    </td>
                </tr>
                <tr>
                    <td class="title">
                        @Html.Semantic_TITLE2("암호")
                    </td>
                    <td class="content">
                        @Html.Semantic_TextBox("CKECK_PASSWORD", "", SemanticUIHelper.Size.mini, new { @type = "password", @class = "size150", @placeholder = "암호" })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="actions">
        @Html.Semantic_Button2("btnPwConfirm", "확인", SemanticUIHelper.enButtonType.Save, new { @onclick = "CheckpwConfirm();" })
        @Html.Semantic_Button2("btnPwClose", "닫기", SemanticUIHelper.enButtonType.Normal, new { @onclick = "CheckpwClose();" })

    </div>
</div>
<script>

    function passwordConfirmpOpen() {
        $("#CKECK_USER_ID").val($("#USER_ID").val());
        
        $('.passwordConfirmP').modal({
            closable: false, onVisible: function (e) {
                setTimeout('$("#CKECK_PASSWORD").focus();', 200);
            }
        }).modal("show");

    }
    function CheckpwConfirm() {
        var param = new Object();
        param.USER_ID = $("#CKECK_USER_ID").val();
        param.PASSWORD = $("#CKECK_PASSWORD").val();
        param = JSON.stringify(param);

        ajax.GetAjax("/account/GetMemberCheck/", param, "json", function (result) {

            if (result.error_message =="") {
                $('.passwordConfirmP').modal("hide");
                $("#PASSWORD").val($("#CKECK_PASSWORD").val());
                $("#PASSWORD_CONFIRM").val($("#CKECK_PASSWORD").val());
                try {
                    passwordConfirmPCallback(true);
                } catch (e) { }
                //$("#PASSWORD").focus();
            }
            else if(result.error_message != "") {
                $.MessageBox(result.error_message).done(function () {
                    if (result.focus_input == "LOGIN_PASSWORD") {
                        $("#CKECK_PASSWORD").focus();
                        $("#CKECK_PASSWORD").select();
                    }
                });
            }
        });
    }

    function CheckpwClose() {
        $('.passwordConfirmP').modal("hide");
           passwordConfirmPCallback(false);
    }


</script>