@using ALT.Framework;
@using ALT.VO.Common;

@{
    Layout = "~/Views/Shared/_Layout_blank.cshtml";
}
<style type="text/css">
    body {
        background-color: #DADADA;
    }

        body > .grid {
            height: 100%;
        }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 500px;
    }
</style>


@{
    T_MEMBER data = ViewBag.data;

    if (data == null || data.PASSWORD_AUTH_TIME == null || data.PASSWORD_AUTH_TIME < DateTime.Now)
    {
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="/common/images/logo.png" class="image">
                    @(Global.ConfigInfo.ProjectTitle) 비밀번호변경
                </h2>
                <form class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <h3>유효하지 않은 URL입니다.</h3><br />
                            <h3>확인 부탁드립니다.</h3>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>
            $("document").ready(function () {
                setTimeout("location.href='/home/login';", 2000);
            })
        </script>
    }
    else
    {

        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <img src="/common/images/logo.png" class="image">
                    @(Global.ConfigInfo.ProjectTitle) 비밀번호변경
                </h2>
                <form class="ui large form">
                    <div class="ui stacked segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>

                                @Html.TextBox("USER_ID", data.USER_ID, new { @placeholder = "사용자아이디를 입력하세요", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.Password("PASSWORD", "", new { placeholder = "비밀번호를 입력하세요", @class = "dataclear", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                @Html.Password("PASSWORD_CONFIRM", "", new { placeholder = "비밀번호를 확인하세요", @class = "dataclear", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui fluid large teal submit button">적용</div>
                        </div>

                    </div>

                    <div class="ui error message"></div>

                </form>
            </div>
        </div>


            <script type="text/javascript">
                $(document).ready(function () {
                    validationinit();
                    $("form").submit(function (event) {

                        if ($(".ui.error.message").css("display") == "none") { doSave(); }
                        event.preventDefault();
                    });

                })

                function doSave() {
                    var params = BaseCommon.FormInfo.serializeJson(".ui.form");
                    params.returnUrl = "@ViewBag.returnUrl";
                    params = JSON.stringify(params);

                    ajax.GetAjax("/account/PasswordChangeSave", params, "json", function (result) {
                        if (result.ERROR_MESSAGE != "") {
                            $.MessageBox(result.ERROR_MESSAGE);
                        } else {
                            $.MessageBox("비밀번호변경이 정상적으로 완료되었습니다.").done(function () {
                                location.href = "/home/login";
                            });
                        }
                    })
                }


                //// 체크
                function validationinit() {

                    $('.ui.form').form({
                        on: 'change',
                        focusInvalid: true,
                        fields: {
                            USER_NAME: {
                                identifier: 'USER_ID',
                                rules: [
                                    {
                                        type: 'empty',
                                        prompt: '사용자이름을 입력하여 주시기 바랍니다.' // Please enter a first name
                                    }
                                ]
                            }, PASSWORD: {
                                identifier: 'PASSWORD',
                                rules: [{
                                    type: 'empty',
                                    prompt: '비밀번호는 필수입력입니다.'
                                }]
                            },
                            PASSWORD_CONFIRM: {
                                identifier: 'PASSWORD_CONFIRM',
                                rules: [{
                                    type: 'empty',
                                    prompt: '비밀번호확인은 필수입력입니다.'
                                }, {
                                    type: 'match[PASSWORD]',
                                    prompt: '입력한 비밀번호가 서로 다릅니다.'
                                }]
                            }
                        }, onFailure: function (event, fields) {

                            //실패후 첫번재 에러 태그에 포커스
                            SemanticUI.Form.Invalidation.ErrorFocus();
                        }
                    });
                }
            </script>
    }
}

