@using ALT.VO.Common;
@using ALT.BizService;


@section scripts{
    <style>
        .ui.mini.image, .ui.mini.images .image, .ui.mini.images img, .ui.mini.images svg {
            height: 32px;
            width: auto;
        }

        @@media screen and (max-width: 600px) {
            .ui.pagination.menu .first, .ui.pagination.menu .last {
                display: none;
            }
        }
    </style>
    <script type="text/javascript">

        $(document).ready(function () {
            doQuery();

            $("#DEPT_CODE,#COMP_TITLE").change(function () {
                doQuery(1);
                doQuery2(1);
            })
            pageResize();

            $("#LOCAL_NAME1").keyup(function (e) {
                if (e.keyCode != 13) {
                    PARAM_DATA2.LOCAL_CODE = "";
                }
                return false;
            });

            $("#SEARCH_NAME").keyup(function (e) {
                if (e.keyCode == 13) {
                    doQuery2(1);
                }
            });

            $("#TITLE").keyup(function (e) {
                if (e.keyCode == 13) {
                    doQuery(1);
                }
            });
            $("#REP_CATEGORY_CODE").change(function () {
                doQuery();
            })
            $("#IS_DEVICE_AD").parent().checkbox({
                onChange: function () {
                    try {

                        doQuery2(1);
                    } catch (e) { }
                }
            });
            

        }); //End document.ready

        $(window).resize(function () {
            pageResize();
        });

        function pageResize() {

            if ($(window).width() <= 370) {

                PARAM_DATA1.PAGE_SIZE = 1;
                $("#dvpagination").pagination({
                    total: PARAM_DATA1.TOTAL, page: PARAM_DATA1.PAGE, pagesize: PARAM_DATA1.PAGE_SIZE, perpage: PARAM_DATA1.PAGE_COUNT
                       , onPageClick: function (item, page) {
                           doQuery(page);
                       }
                })
                PARAM_DATA2.PAGE_SIZE = 3;
                $("#dvpagination2").pagination({
                    total: PARAM_DATA2.TOTAL, page: PARAM_DATA2.PAGE, pagesize: PARAM_DATA2.PAGE_SIZE, perpage: PARAM_DATA2.PAGE_COUNT
                   , onPageClick: function (item, page) {
                       doQuery2(page, PARAM_DATA2.LOCAL_CODE);
                   }
                })

            }
            else if ($(window).width() <= 400) {
                PARAM_DATA1.PAGE_SIZE = 2;
                $("#dvpagination").pagination({
                    total: PARAM_DATA1.TOTAL, page: PARAM_DATA1.PAGE, pagesize: PARAM_DATA1.PAGE_SIZE, perpage: PARAM_DATA1.PAGE_COUNT
                       , onPageClick: function (item, page) {
                           doQuery(page);
                       }
                })
                PARAM_DATA2.PAGE_SIZE = 5;
                $("#dvpagination2").pagination({
                    total: PARAM_DATA2.TOTAL, page: PARAM_DATA2.PAGE, pagesize: PARAM_DATA2.PAGE_SIZE, perpage: PARAM_DATA2.PAGE_COUNT
                   , onPageClick: function (item, page) {
                       doQuery2(page, PARAM_DATA2.LOCAL_CODE);
                   }
                })
            }
            else if ($(window).width() <= 800) {
            }
            else {

                PARAM_DATA1.PAGE_SIZE = 5;
                $("#dvpagination").pagination({
                    total: PARAM_DATA1.TOTAL, page: PARAM_DATA1.PAGE, pagesize: PARAM_DATA1.PAGE_SIZE, perpage: PARAM_DATA1.PAGE_COUNT
                       , onPageClick: function (item, page) {
                           doQuery(page);
                       }
                })
                PARAM_DATA2.PAGE_SIZE = 10;
                $("#dvpagination2").pagination({
                    total: PARAM_DATA2.TOTAL, page: PARAM_DATA2.PAGE, pagesize: PARAM_DATA2.PAGE_SIZE, perpage: PARAM_DATA2.PAGE_COUNT
                   , onPageClick: function (item, page) {
                       doQuery2(page, PARAM_DATA2.LOCAL_CODE);
                   }
                })
            }
        }

        var _adCode = 0;
        function mrc_table_tdClick(objName, param) {
            if (objName == "#dvTable table") {
                var data = $.mrc_table.GetActiveRowData("#dvTable table");

                if (data[0].AD_CODE != _adCode) {
                    doQuery2(1, data[0].AD_CODE);
                }
                _adCode = data[0].AD_CODE;
            }
        }

    
        var PARAM_DATA1 = {
            PAGE_SIZE: 5
          , PAGE_COUNT: 15
          , PAGE: 1
          , SEARCH_DATA: ""
          , SEARCH_DATA1: ""
          , TOTAL: 0
          , SORT: "A.UPDATE_DATE DESC"
        }

        function LOCAL_NAME1_callback(result) {
            PARAM_DATA2.LOCAL_CODE = result.CODE;
            var data = $.mrc_table.GetActiveRowData("#dvTable table");
            if (data.length > 0) doQuery2();
        }
        function doQuery(page1, sSort) {

            if (sSort == undefined) {
                PARAM_DATA1.SORT = "A.UPDATE_DATE DESC"
            }
            else
                PARAM_DATA1.SORT = sSort;

            if (page1 == undefined) PARAM_DATA1.PAGE = 1;
            else PARAM_DATA1.PAGE = page1;

            PARAM_DATA1.SEARCH_DATA = $("#REP_CATEGORY_CODE").val();
            PARAM_DATA1.SEARCH_DATA1 = $("#TITLE").val();
            var param = JSON.stringify(PARAM_DATA1);

            ajax.GetAjax("/advertise/pv_AdOnDevicelist", param, "html", function (result) {

                $("#tbSearchList").html(result);
                $("#dvpagination").show();
                PARAM_DATA1.TOTAL = Number($("#total").val());

                $("#dvpagination").pagination({
                    total: PARAM_DATA1.TOTAL, page: PARAM_DATA1.PAGE, pagesize: PARAM_DATA1.PAGE_SIZE, perpage: PARAM_DATA1.PAGE_COUNT
                    , onPageClick: function (item, page) {
                        doQuery(page, PARAM_DATA1.SORT);
                    }
                })
                $("#dvpagination").css("display", "");
                $.mrc_table.Init("#dvTable table", false, PARAM_DATA1.SORT);
                doQuery2(-1);
            });
        }

        var PARAM_DATA2 = {

            PAGE_SIZE: 5
            , PAGE_COUNT: 15
            , PAGE: 1
            , TOTAL: 0
            , SEARCH_DATA: ""
            , SORT: ""
        }
        function doQuery2(page, adCode, sSort) {

            Input.CheckBox.Checked("chkAll", false);

            var arrdata = $.mrc_table.GetActiveRowData("#dvTable table");
            adCode = (adCode == undefined ? 0 : adCode);
            if (page >= 1 && arrdata.length == 0) {
                $.MessageBox("검색할 기기(왼쪽리스트)을 선택하세요");
                return;
            }
            if (arrdata.length > 0) adCode = arrdata[0].AD_CODE;
            var param = new Object();
            //var arrdata = $.mrc_table.GetActiveRowData("#dvTable table");

            if (sSort != undefined) PARAM_DATA2.SORT = sSort;
            if (page != undefined) PARAM_DATA2.PAGE = page;
            param = PARAM_DATA2;

            param.SEARCH_DATA = adCode;
            param.SEARCH_DATA1 = PARAM_DATA2.LOCAL_CODE;
            param.SEARCH_DATA2 = $("#SEARCH_NAME").val()

            if ($("#IS_DEVICE_AD").parent().hasClass("checked")) {

                param.SEARCH_DATA9 = 1;
            }
            else {
                param.SEARCH_DATA9 = "";
            }
            param = JSON.stringify(param);
            ajax.GetAjax("/advertise/pv_AdOnDevicelist2", param, "html", function (result) {
                if (PARAM_DATA2.LOCAL_CODE == "") $("#LOCAL_NAME1").val("");
                $("#dvTable2 table tbody").html(result);
                PARAM_DATA2.TOTAL = Number($("#total2").val());
                $("#dvpagination2").show();
                $("#dvpagination2").pagination({
                    total: PARAM_DATA2.TOTAL, page: PARAM_DATA2.PAGE, pagesize: PARAM_DATA2.PAGE_SIZE, perpage: PARAM_DATA2.PAGE_COUNT
                    , onPageClick: function (item, page) {
                        doQuery2(page, PARAM_DATA2.LOCAL_CODE);
                    }
                })
                $.mrc_table.Init("#dvTable2 table", true, PARAM_DATA2.SORT);
                $("#dvTable2 table.list th:first-child").hide();
                $("#dvTable2 table.list td:nth-child(1)").hide();

                $("#chkAll").click(function () {
                    Input.CheckBox.CheckedAll("chkUse", Input.CheckBox.isChecked($(this).attr("id")));

                    $("#dvTable2 table.list tbody .editableCheck").each(function () {
                        $(this).find(".editMode").text("U");
                    });

                    $("#dvTable2 table.list tbody tr.trInputHIde td:eq(0) input").hide();
                })

            });
        }

        function doSave() {

            $.MessageBox({
                buttonDone: "예",
                buttonFail: "아니오",
                message: "저장하시겠습니까?"
            }).done(function () {
                var arrdata = $.mrc_table.GetActiveRowData("#dvTable table");
                if (arrdata.length == 0) {
                    $.MessageBox("적용할 기기(왼쪽리스트)을 선택하세요");
                    return;
                }

                var arrSaveData = $.mrc_table.GetSaveData("#dvTable2 table");

                if (arrSaveData.length == 0) {
                    $.MessageBox("저장할 데이터가 없습니다.");
                    return;
                }
                var param = new Object();
                param.SAVE_TYPE = "U";

                param.list = arrSaveData;

                param = JSON.stringify(param);

                ajax.GetAjax("/basic/AdDeviceSave", param, "json", function (result) {
                    if (result.ERROR_MESSAGE != "") {
                        $.MessageBox(result.ERROR_MESSAGE);
                    }
                    else {
                        doQuery2(PARAM_DATA2.PAGE, $.mrc_table.GetActiveRowData("#dvTable table")[0].AD_CODE);
                    }
                });
            }).fail(function () { });
            return false;
        }

        function mrcGrid_Sort(gridName, columnName, orderType) {
            if (gridName == "#dvTable table") {
                var sSort = (orderType == undefined || orderType == "") ? "A.UPDATE_DATE DESC" : columnName + " " + orderType;
                doQuery(1, sSort);
            }
            else if (gridName == "#dvTable2 table") {
                var sSort = (orderType == undefined || orderType == "") ? "A.UPDATE_DATE DESC" : columnName + " " + orderType;
                doQuery2(1, PARAM_DATA2.LOCAL_CODE, sSort)
            }
            //var sSort = (orderType == undefined || orderType == "") ? "UPDATE_DATE DESC" : columnName + " " + orderType;
            //doQuery(1, sSort)
        }


    </script>
}
<style>
    .ui.checkbox {
        margin-top: 0.5em;
    }

    #dvTable, #dvTable2 {
        min-height: 100px;
    }

    @@media only screen and (max-width: 1023px) {
        .ui.table tr.search td.content {
            display: flex !important;
        }
    }
</style>
<div class="ui vertical stripe segment">
    @Html.TitleNavigation()
    <form class="ui medium form" onSubmit="return false;">
        <div class="ui  grid">
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                <div class="one column row">
                    <div class="column" style="padding-bottom:1em;padding-top:2em;">
                        <div class="ui grid search ">
                            <div class="six wide mobile  six wide tablet four wide computer column">
                                @{
                                    var cboCatetgory = new loggalServiceBiz.CategoryService().GetCategoryList(new ALT.VO.loggal.CATEGORY_COND() { CATEGORY_TYPE = 1 })
                                                       .Select(s => new SelectListItem { Value = s.CATEGORY_CODE.ToString(), Text = s.CATEGORY_NAME }).ToList();
                                }
                                @Html.CommonComboNormal("REP_CATEGORY_CODE", cboCatetgory, "", "-카테고리-", new { @class = "size150" })
                            </div>
                            <div class="six wide mobile six wide tablet four wide computer column ">
                                @Html.Semantic_TextBox("TITLE", "", new { @placeholder = "제목을 입력하세요" })
                            </div>
                            <div class="four wide mobile four wide tablet eight wide computer column buttons">
                                @Html.Semantic_Button2("btnSearch", "검색", SemanticUIHelper.enButtonType.Normal, SemanticUIHelper.Size.medium, new { @style = "height:29.5px;min-width:55px", @onclick = "doQuery(1);" })</td>
                            </div>
                        </div>
                    </div>
                    <div id="dvTable" class="one column row">
                        <table id="tableList1" class="mrc-table">
                            <thead>
                                <tr>

                                    <th column_name="AD_CODE" class="sort" data-sort="A.AD_CODE">광고코드</th>
                                    <th column_name="LOGO">로고</th>
                                    <th column_name="TITLE" class="sort" data-sort="A.TITLE">제목</th>
                                    <th column_name="CATEGORY_NAME" display_size="pc">카테고리</th>
                                    <th column_name="ORI_DEVICE_NAME" display_size="pc">원본로컬박스</th>
                                    <th column_name="SUB_TITLE" display_size="detail">부제목</th>

                                    <th column_name="AD_DATE" display_size="detail">광고일</th>
                                    <th column_name="AD_TIME" display_size="detail">광고시간</th>

                                </tr>
                            </thead>
                            <tbody id="tbSearchList"></tbody>
                        </table>
                    </div>
                    <div class="one column row" style="padding-top:0.5em;">
                        <div id="dvpagination" class="ui floated pagination menu"></div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide mobile eight wide tablet eight wide computer column">
                <div class="one column row">
                    <div class="column" style="padding-bottom:1em;padding-top:2em;">
                        <div class="ui grid search ">
                            <div class="eight wide mobile eight wide tablet four wide computer column">
                                @* @Html.Semantic_TextBox("REGION_SEARCH", "", SemanticUIHelper.Size.mini, new { @placeholder = "지역검색", @style = "min-width:300px;" })*@
                                @Html.AutoCompleate("LOCAL_NAME1", "/common/PV_LocalNameList")
                            </div>

                            <div class="eight wide mobile eight wide tablet four wide computer column">
                                @Html.Semantic_TextBox("SEARCH_NAME", "", SemanticUIHelper.Size.medium, new { @placeholder = "지점명 또는 기기명 검색" })
                            </div>
                            <div class="eight wide mobile eight wide tablet four wide computer column ">
                                @Html.Semantic_CheckBox("IS_DEVICE_AD", "등록여부", "1")
                            </div>
                            <div class="eight wide mobile eight wide tablet four wide computer column buttons">
                                @Html.Semantic_Button2("btnSearch2", "검색", SemanticUIHelper.enButtonType.Normal, SemanticUIHelper.Size.medium, new { @style = "height:29.5px;min-width:55px", @onclick = "doQuery2(1);" })@Html.Semantic_Button2("btnSave", "저장", SemanticUIHelper.enButtonType.Save, SemanticUIHelper.Size.medium, new { onclick = "doSave();" })
                            </div>
                        </div>
                    </div>
                    <div id="dvTable2">
                        <table class="mrc-table list">
                            <thead>
                                <tr>
                                    <th column_name="HIDE" style="width:60px;"><input type="checkbox" id="chkAll" /></th>
                                    <th column_name="DEVICE_CODE" display_size="tablet">기기코드</th>
                                    <th class="hide" column_name="AD_DEVICE_CODE">광고기기코드</th>
                                    <th class="hide" column_name="AD_CODE" display_size="pc" style="width:4em;">코드</th>
                                    <th column_name="DEVICE_NAME" class="sort" data-sort="A.DEVICE_NAME">기기명</th>
                                    <th column_name="STATUS_NAME" display_size="tablet">공유상태</th>

                                    <th column_name="FR_DATE" display_size="pc" class="sort">시작일</th>
                                    <th column_name="TO_DATE" display_size="pc" class="sort">종료일</th>
                                    <th column_name="FR_TIME" display_size="detail">시작시간</th>
                                    <th column_name="TO_TIME" display_size="detail">종료시간</th>
                                </tr>
                            </thead>
                            <tbody id="tbList"></tbody>
                        </table>
                        <center style="padding-top:0.5em">
                            <div id="dvpagination2" class="ui floated pagination menu"></div>
                        </center>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
