@using ALT.VO.Common;
@using ALT.BizService;
@{

	int? STORE_CODE = Convert.ToInt32(ViewBag.STORE_CODE);
}
@section scripts{

	<script type="text/javascript">

		$(document).ready(function () {
		    
			doQuery();
			doQuery2();
			$("#HIDE").click(function () {
			    doQuery();
			    doQuery2();
			});

			$("#txtnum").number(true, 0);
		
		}); //End document.ready
		function SemanticUI_ComboChange(obj) {
			if ($(obj)[0].id == "STORE_CODE") {
				doQuery();
				doQuery2();
			}
		}

		function doQuery() {
			
			var param = new Object();
			param.STORE_CODE = $("#STORE_CODE").val();
			param.POSITION_TYPE = 1;
			param.HIDE = $("#HIDE:checked").length == 0 ? false : $("#HIDE:checked") ? null : false;
			param = JSON.stringify(param);
			ajax.GetAjax("/comp/pv_StorePositionRegList", param, "html", function (result) {
				$("#dvTable table tbody").html(result);
				$.mrc_table.InitObject({ objName: "#dvTable table.list", bEdit:true});
				$('#dvTable table tbody input.number').number(true, 0);
			});
		}



		function doQuery2(storeCode) {

			var param = new Object();
			param.STORE_CODE = storeCode == undefined ? $("#STORE_CODE").val() : storeCode;
			param.POSITION_TYPE = 2;
			param.HIDE = $("#HIDE:checked").length == 0 ? false : $("#HIDE:checked") ? null : false;
			param = JSON.stringify(param);
			ajax.GetAjax("/comp/pv_StorePositionRegList", param, "html", function (result) {
				$("#dvTable2 table tbody").html(result);
				$.mrc_table.InitObject({ objName: "#dvTable2 table.list", bEdit:true});

				$('#dvTable2 table tbody .number').number(true, 0);
				//$("#chkAll").click(function () {

				//	Input.CheckBox.CheckedAll("chkUse", Input.CheckBox.isChecked($(this).attr("id")));

				//	$("#dvTable2 table.list tbody .editableCheck").each(function () {
				//		$(this).find(".editMode").text("U");
				//	});
				//})
			});
		}

		function doAdd(nType) {
			var grdData = $.mrc_table.GetData("#dvTable" + ((nType == 2) ? "2" : "") + " table.list");
			var addHtml = '<tr>                                       ';
			addHtml += '    <td><input type="text" value="" /></td>   ';
			var nNextSeq = 0;
			if (grdData.length>0)
				nNextSeq = grdData[grdData.length - 1].SEQ

			nNextSeq = Number(nNextSeq) + 1;

			addHtml += '    <td><input type="text" value="' + String(nNextSeq) + '" /></td>   ';

			addHtml += '    <td class="center"><input type="checkbox" /></td>/td>                  ';
			addHtml += '    <td class="center">@(SessionHelper.LoginInfo.MEMBER.USER_NAME)</td>                  ';
			addHtml += '    <td class=""></td>                  ';
			addHtml += '    <td class="hide center">0</td>                  ';
			addHtml += '    <td class="hide center">' + String(nType) + '</td>                  ';
			addHtml += '    <td class="hide center">' + $("#STORE_CODE").val() + '</td>                  ';
			addHtml += '</tr>                                                          ';
			
			
			
			$.mrc_table.AddRowHtml("#dvTable" + ((nType == 2) ? "2" : "") + " table.list", addHtml);
			$.mrc_table.InitObject({ objName: "#dvTable" + ((nType == 2) ? "2" : "") + " table.list", bEdit : true });
			//SemanticUI.ComponentInit("#dvTable" + ((nType == 2) ? "2" : "") + "table.list"); // 시맨틱 UI 일경우 초기화 초가

		}

        function doDel(nType) {
            _nSaveTyp = nType;
		    var arrDel = $.mrc_table.GetCheckedData("#dvTable" + ((nType == 2) ? "2" : "") + " table.list", "D");
		    if (arrDel.length == 0) {
		        $.MessageBox("삭제할 데이터가 없습니다.");
		        return;
		    }


		    $.MessageBox({
		        buttonDone: "예",
		        buttonFail: "아니오",
		        message: "정말로 삭제하시겠습니까?"
		    }).done(function () {
		        var param = JSON.stringify(arrDel);

		        ajax.GetAjax("/comp/storePositionuSave", param, "json", function (result) {
		            if (result.ERROR_MESSAGE != "") {
		                $.MessageBox(result.ERROR_MESSAGE);
		            }
		            else {
		                if (_nSaveTyp == 1)
		                    doQuery();
		                else
		                    doQuery2();
		            }
		        });
		    }).fail(function () {

		    });
		}
		var _nSaveTyp = 1;
		function doSave(nType) {
			_nSaveTyp = nType;
			var arrSaveData = $.mrc_table.GetSaveData("#dvTable" + ((nType == 2) ? "2" : "") + " table.list");
			if (arrSaveData.length == 0) {
				$.MessageBox("저장할 데이터가 없습니다.");
				return;
			}

			var param = JSON.stringify(arrSaveData);
			ajax.GetAjax("/comp/storePositionuSave", param, "json", function (result) {
				if (result.ERROR_MESSAGE != "") {
					$.MessageBox(result.ERROR_MESSAGE);
				}
				else {
					var data1 = $.mrc_table.GetActiveRowData("#dvTable table")[0];
					if (_nSaveTyp == 1)
						doQuery();
					else
						doQuery2();
				}

			});
		}


	</script>
}
<style>
	.ui.checkbox {
		margin-top: 0.5em;
	}

	#dvTable, #dvTable2 {
		min-height: 100px;
	}
</style>
<div class="ui vertical stripe segment">
    @Html.TitleNavigation()
    <form class="ui medium  form">
        <div class="ui stackable one column grid">
            <div class="column">
                <div class="one column row">
                    <table class="ui table">
                        <tbody>
                            <tr>
                                <td class="title">
                                    @Html.Semantic_TITLE2("지점")
                                </td>
                                <td style="width:35%">
                                    @Html.StoreCombo("STORE_CODE", new T_STORE_COND { }, STORE_CODE.ToString(), "-지점선택-", new { @class = "size200" })
                                </td>
                                <td class="title">
                                    @Html.Semantic_TITLE2("사용여부")
                                </td>
                                <td>
                                    <label>@Html.CheckBox("HIDE") 미사용포함</label>
                                </td>
                                <td class="buttons">
                                    @Html.Semantic_Button2("btnSearch", "조회", SemanticUIHelper.enButtonType.ToList, SemanticUIHelper.Size.mini, new { onclick = "doQuery();doQuery2();" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="ui stackable two column grid">
            <div class="column">
                <div class="one column row">

                    <div class="column search  buttons">
                        @Html.Semantic_Button2("btnDel", "삭제", SemanticUIHelper.enButtonType.Del, SemanticUIHelper.Size.mini, new { onclick = "doDel(1);" })
                        @Html.Semantic_Button2("btnAdd", "추가", SemanticUIHelper.enButtonType.New, SemanticUIHelper.Size.mini, new { onclick = "doAdd(1);" })
                        @Html.Semantic_Button2("btnSave", "저장", SemanticUIHelper.enButtonType.Save, SemanticUIHelper.Size.mini, new { onclick = "doSave(1);" })
                    </div>
                </div>
                <div id="dvTable">
                    <table class="mrc-table list">
                        <thead>
                            <tr>
                                <th column_name="NAME">직위</th>
                                <th column_name="SEQ">순번</th>
                                <th column_name="HIDE" display_size="tablet">미사용</th>
                                <th column_name="UPDATE_NAME" display_size="pc">수정자</th>
                                <th column_name="UPDATE_DATE" display_size="pc">수정일</th>
                                <th class="hidden" column_name="POSITION_CODE">코드</th>
                                <th class="hidden" column_name="POSITION_TYPE">유형</th>
                                <th class="hidden" column_name="STORE_CODE">매장코드</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="column">
                <div class="one column row">
                    <div class="column search  buttons">
                        @Html.Semantic_Button2("btnDel", "삭제", SemanticUIHelper.enButtonType.Del, SemanticUIHelper.Size.mini, new { onclick = "doDel(2);" })
                        @Html.Semantic_Button2("btnAdd", "추가", SemanticUIHelper.enButtonType.New, SemanticUIHelper.Size.mini, new { onclick = "doAdd(2);" })
                        @Html.Semantic_Button2("btnSave", "저장", SemanticUIHelper.enButtonType.Save, SemanticUIHelper.Size.mini, new { onclick = "doSave(2);" })
                    </div>
                </div>

                <div id="dvTable2">
                    <table class="mrc-table list">
                        <thead>
                            <tr>
                                <th column_name="NAME">직책</th>
                                <th column_name="SEQ">순번</th>
                                <th column_name="HIDE" display_size="tablet">미사용</th>
                                <th column_name="UPDATE_NAME" display_size="pc">수정자</th>
                                <th column_name="UPDATE_DATE" display_size="pc">수정일</th>
                                <th class="hidden" column_name="POSITION_CODE">코드</th>
                                <th class="hidden" column_name="POSITION_TYPE">유형</th>
                                <th class="hidden" column_name="STORE_CODE">매장코드</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>
