
@{

    List<STORE_STATISTICS_LIST> list = ViewBag.list;


    List<T_COMMON> combolist = ViewBag.combolist;

    string totCnt = (list.Count() == 0 ? "0" : list.First().TOTAL_ROWCOUNT.ToString());
    <input type="hidden" id="total" value="@totCnt" />
        foreach (var data in list)
        {
            <tr>
                <td><a href="/store/storereg/@data.STORE_CODE">@data.STORE_NAME</a></td>
                <td class="right totalColumn2">@data.LOCALBOX_CNT</td>
                <td class="right">@data.REAL_CNT</td>
                <td class="right">@data.VIRTUAL_CNT</td>
                <td class="right">@data.LOCALBOX_FRAME1_CNT</td>
                <td class="right">@data.LOCALBOX_FRAME6_CNT</td>
                <td class="right">@data.DEVICE_TYPE1</td>
                <td class="right">@data.DEVICE_TYPE2</td>
                <td class="right">@data.DEVICE_TYPE3</td>
                <td class="right totalColumn">@data.AD_CNT</td>
                <td class="right">@data.AD_FRAME_TYPE1_CNT</td>
                <td class="right">@data.AD_FRAME_TYPE6_CNT</td>
                <td class="right">@data.AD_TYPE1</td>
                <td class="right">@data.AD_TYPE2</td>
                <td class="right">@data.AD_TYPE3</td>
            </tr>
        }
        /*var dtlist = list.ConvertToDataTable();
        foreach (System.Data.DataRow data in dtlist.Rows)
        {
            <tr>
                <td><a href="/store/storereg/@data["STORE_CODE"]">@data["STORE_NAME"]</a></td>
                <td class="right">@data["LOCALBOX_CNT"]</td>
                <td class="right">@data["REAL_CNT"]</td>
                <td class="right">@data["VIRTUAL_CNT"]</td>
                @{
                    foreach (T_COMMON cm1 in combolist.Where(w => w.MAIN_CODE == "H002"))
                    {
                        <td class="right">@data["LOCALBOX_FRAME" + cm1.SUB_CODE + "_CNT"]</td>
                    }

                    foreach (T_COMMON cm1 in combolist.Where(w => w.MAIN_CODE == "D003"))
                    {
                        <td class="right">@data["DEVICE_TYPE" + cm1.SUB_CODE]</td>
                    }
                }


                <td class="right">@data["AD_CNT"]</td>
                @{
                    foreach (T_COMMON cm1 in combolist.Where(w => w.MAIN_CODE == "H002"))
                    {
                        <td class="right">@data["AD_FRAME_TYPE" + cm1.SUB_CODE + "_CNT"]</td>
                    }

                    foreach (T_COMMON cm1 in combolist.Where(w => w.MAIN_CODE == "A006"))
                    {
                        <td class="right">@data["AD_TYPE" + cm1.SUB_CODE]</td>
                    }
                }
            </tr>
        }*/
    }



